@{
    ViewBag.Title = "Emails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Emails</h2>

@section Head {
    <script src="@Url.Content("~/Scripts/Screens/Emails.js")" type="text/javascript"></script>
}

Cette section est réservée à l'administrateur

<div id="emailData">
</div>